.navBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--bg-color);
    height: fit-content;
    padding: 10px 0 10px 0;
}

.navElementsList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navElementsList:nth-child(1) {
    height: 2vh;
    margin-left: 10%;
}

.navElementsList:nth-child(2) {
    width: 40%;
    height: 2vh;
    margin: 0 0 0 15%;
}
.navElementsList:nth-child(3) {
    width: 50%;
    height: 2vh;
}
.languageList, .auxlanguageList{
    list-style: none;
}
.languageList{
    margin-right: 40px;
}
.auxlanguageList{
    position: absolute;
    padding: 20px;
    top: 30px;
    right: 11vw;
    border-radius: 5px;
    background-color: var(--bg-color);
}