@font-face {
    font-family: 'Cocogoose-Classic';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Cocogoose-Classic.ttf');
}
:root{
    --bg-color: rgb(204, 184, 250);
    --bg-page-color:rgb(240, 240, 240);
    --font:'Cocogoose-Classic'
}
html, body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Cocogoose-Classic';
    text-align: justify;
    background-color: var(--bg-page-color) ;
}